@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "montserrat";
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat_italic";
  src: url("../assets/fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

input,
textarea {
  border-radius: 4px;
  background-color: lightgrey;
  padding-inline: 0.5rem;
}

@layer utilities {
  .contactButton {
    border-radius: 4px;
  }
}
