@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "montserrat";
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat_italic";
  src: url("../assets/fonts/Montserrat-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

input,
textarea {
  border-radius: 4px;
  background-color: lightgrey;
  padding-inline: 0.5rem;
}

@layer utilities {
  #map {
    height: 400px;
    width: 100%;
  }

  .contactButton {
    border-radius: 4px;
  }
  .basicButton {
    background-color: theme("colors.primary");
    color: theme("colors.tertiary");
    cursor: pointer;
  }
  .basicButton:hover {
    color: theme("colors.secondary");
  }
  .basicButton:active {
    background-color: #c4af63;
    color: theme("colors.primary");
  }
}
